
.pulse:focus,
.pulse:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 var(--hover);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 var(--hover);
  }
}
.close:focus,
.close:hover {
    
  box-shadow: inset -10em 0 0 0 var(--hover), inset 10em 0 0 0 var(--hover);
}


.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}


.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
button {
  color: var(--color);
  transition: 0.25s;
}
button:focus,
button:hover {
    cursor: pointer;
  border-color: var(--hover);
  color: #fff;
}

button {
  background: 0 0;
  border: 2px solid;
  width: 50%;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

code {
  color: #e4cb58;
  font: inherit;
}
